@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #E6E6DF;
    margin: 0;
    padding: 0;
}

#header{
    width: 98.7vw;
    height: 99.8vh;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
}

#navar{
    width: 98vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    z-index: 15;
    /*background-color: #6B0E21;*/
    opacity: 0.9;
    color: #ffffff;
}
#navar ul{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    float: right;
    margin-right: 3vw;
}
#navar ul li{
    margin-left: 2.5vw;
    margin-top: 3vh;    
}
#navar ul li a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto','sans-serif';
    color: #ffffff;
    font-weight: 500;
}
#footer{
    width: 99,9vw;
    height: 15vh;
    border-style: solid;
    border-color: green;
}

#container{
    width: 98.7vw;
    height: 99.8vh;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('imagen/webdesigner-2443766_1920.jpg');
    background-color: none;
    opacity: 0.9;
    z-index: 8;
}

#descr{
    width: 38vw;
    height: 40vh;
    margin-top: 22vh;
    margin-left: 10vw;
    z-index: 15;
    position: relative;
    color: #ffffff;
}
#descr label{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 31px;
    font-family: 'Roboto','sans-serif';
    font-weight: 500;
}
#descr p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
}

#container2{
    width: 99vw;
    max-width: 1200px;
    height: 86vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container2 .cards{
    width: 24vw;
    height: 72vh;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-top: 10vh;
    margin-left: 6%;
    text-align: center;
    transition: all 0.25s;
}

#container2 .cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    cursor:pointer;
}

#container2 .cards img{
    width: 16vw;
    height: 24vh;
}
#container2 .cards label{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto','sans-serif';
}
#container2 .cards p{
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    margin: 6%;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
}
#container2 .cards a{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}
.container3{
    width: 98vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.containermax{
    width: 58vw;
    height: 68vh;
    margin: 0;
    padding: 0;
    border-style: solid;
}
.container3 .containermax h3{
    margin-top:5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 22px;
    font-weight: 700;
}
.container3 .containermax label{
    margin-top:5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.container3 .containermax p{
    margin-top:5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.mincont{
    width: 48vw;
    height: 68vh;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: orange;
}