* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#ffffff;
    margin: 0;
    padding: 0;
}

#header{
    width: 98.7vw;
    height: 99.8vh;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
}

#navar{
    width: 98vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    z-index: 15;
    /*background-color: #6B0E21;*/
    opacity: 0.9;
    color: #ffffff;
}
#navar ul{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    float: right;
    margin-right: 3vw;
}
#navar ul li{
    margin-left: 2.5vw;
    margin-top: 3vh;
    font-size: 22px;
}
#footer{
    width: 99,9vw;
    height: 15vh;
    border-style: solid;
    border-color: green;
}

#container{
    width: 98.7vw;
    height: 99.8vh;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('imagen/webdesigner-2443766_1920.jpg');
    background-color: none;
    opacity: 0.9;
    z-index: 8;
}

#container2{
    width: 99,9vw;
    height: 85vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000 1px;
}

#descr{
    width: 38vw;
    height: 40vh;
    margin-top: 22vh;
    margin-left: 10vw;
    z-index: 15;
    position: relative;
    color: #ffffff;
}
#descr label{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 29px;
}
#descr p{
    font-size: 19px;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: justify;
}

#cards{
    width: 78vw;
    height: 50vh;
    border-style: solid;
    border-color: rebeccapurple;
    margin-top: 10vh;
    margin-left: 10vw;
}

